main {
  margin-top: 100px;
}

div .card a {
  margin-top: 15px;
}

.btnBuy {
  margin-top: 15px;
  margin-left: 10%;
}

.btnDetalles {
  margin-top: 15px;
  margin-left: 5px;
}

.accordion {
  margin-top: 55px;
}
