main {
  margin-top: 100px;
}

div .card a {
  margin-top: 15px;
}

.btnBuy {
  display: block;
  margin: 15px;
  margin-bottom: 0;
}

.btnDetalles {
  margin-top: -40px;
  margin-left: 170px;
  display: flex;
  position: absolute;
}

.accordion {
  margin-top: 55px;
}
